body {
    background: #ffffff;
    background-image: url(C:/Users/hp/Downloads/FANDI/Wallpaper/images.jpg);
}

h1{
    text-align: center;
    color: rgb(238, 201, 39);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: italic;
    padding: 5px;
}

.masuk{
    color: #feffff;
    text-align: center;
    border: #feffff 3px;
    margin: 5px;
}
.daftar{
    text-align: center;
    color: #feffff;
}